node_modules/
package-lock.json

# Node.js backend
backend/node_modules/
backend/.env
backend/logs/
backend/package-lock.json



# React frontend
frontend/node_modules/
frontend/.env
frontend/package-lock.json

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders (optional)
frontend/build/
backend/dist/
backend/tmp/

# IDE / Editor folders
.vscode/
.idea/

