/* Login.css */

.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin-left: 5%;
    margin: 0px 20%;

 
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(36, 33, 33, 0.856);
    width: 100%;
    overflow: hidden;
}

.login-form-section {
    padding: 40px;
    width: 50%; /* Half of the container */
}

.login-image-section {
    width: 50%; /* Half of the container */
}

.login-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area */
}

.login-page-container h1 {
    font-size: 2em;
    color: #ff5722;
    margin-bottom: 20px;
    text-align: center;
}

.login-page-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-page-container input[type="email"],
.login-page-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-page-container .options {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.login-page-container .options label{
   display: flex;
   flex-direction: row;
  
}
.login-page-container button {
    background: #388e3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-page-container button:hover {
    background: #2e7d32;
}

.login-page-container a {
    color: #ff5722;
    text-decoration: none;
}

.login-page-container a:hover {
    text-decoration: underline;
}

.login-error-message {
    color: #ff0000;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .login-content {
        flex-direction: column;
    }

    .login-form-section,
    .login-image-section {
        width: 100%;
    }

    .login-image-section {
        display: none; /* Hide image on smaller screens */
    }

    .login-form-section {
        padding: 20px;
    }
}